@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  direction: rtl;
}
body{
  overflow-x: hidden;
  font-family: "Cairo", serif;
}
@layer components {
  .section {
    @apply py-20;
  }

  .container {
    @apply w-full max-w-7xl mx-auto px-8 md:px-4;
  }
}

/* Slider Styles */
.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before {
  color: #FFD700 !important;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #FFD700 !important;
  opacity: 1;
}

.bg{
  background-image: url(../public/bg2.png);
  background-position: center;
  background-size: cover;
}